<div class="col-xs-6 col-sm-3 " id="simpleModal" show-modal>
   <button id="closeSimple" ng-click="closeVideo(item)" class="btn btn link">
   <i>close</i></button>
   <div  id="playerModal" >
      <div id="placeholder"  >
      </div>
   </div>
</div>
</div>	
<header class="clearfix">
   <div class="container">
      <div class="header-left">
         <div class="container-left" >
            <div  ng-click="showNotifMenu=!showNotifMenu" class="glyphicon glyphicon-bell">
               <span ng-if="myNotifications.length>0"class="button__badge">{{myNotifications.length}}</span>
               &nbsp;&nbsp;
               <div class="divider-10"></div>
               <span ng-if="loginSuccess" >	
               Welcome Back {{myCurrentUser.basic.email}}
               </span>
            </div>
            <div class="dropdownTwo">
               <div ng-show="showNotifMenu" class="dropdown"  
                  style="background-color:white;">
                  <ul  class="notificationsTwo" role="menu" aria-labelledby="dLabel">
                     <div class="notification-heading">
                        <h4 class="menu-title">Notifications</h4>
                     </div>
                     <div class="notifications-wrapper">
                        <!--mynotificationsRecSongs-->
                        <div>
                           <div  ng-repeat="mynotifications in 
                              myNotifications track by $index"  
                              class="notification-item" >
                              <h4 class="item-title" >
                                 <div ng-if="mynotifications.receivedBy.length==1" >
                                    {{
                                    JBSGetUserName(myUsersListTwo.users,'_id', 
                                    mynotifications.receivedBy)
                                    }}
                                 </div>
                                 <div ng-if="mynotifications.receivedBy.length>1">
                                    <div ng-click="showUserList=!showUserList">
                                       {{mynotifications.receivedBy.length}} Users Sent:
                                       <div ng-show="showUserList" ng-repeat="mynotificationsRecSongsUsers in 
                                          mynotifications.receivedBy track by $index">
                                          {{
                                          JBSGetUserName(myUsersListTwo.users,'_id', 
                                          mynotificationsRecSongsUsers.uid)
                                          }}
                                       </div>
                                    </div>
                                 </div>
                                 &nbsp;&nbsp;{{mynotifications.message}}
                                 <div ng-if="mynotifications.sentType.type=='mbp'" >
                                    {{mynotifications.sentType.message}}
                                 </div>
                                 <div  data-placement="top" title={{mynotifications.data.trackInfo.title}}>{{mynotifications.data.trackInfo.title}}</div>
                              </h4>
                              <div class="divider-10"></div>
                              <p class="item-title" > Album Name:</p>
                              <p class="item-title album-name" data-placement="top" title={{mynotifications.data.albumInfo.listname}}  ng-click="showNotifDetails=!showNotifDetails"  class="item-info row-fluid" >
                                 {{JBSE(mynotifications.data.albumInfo.listname)}}
                                 &nbsp;&nbsp; more
                              </p>
                              <div ng-show="showNotifDetails"  class="item-title" >
                                 <p> Tracks:</p>
                                 <ul>
                                    <li ng-repeat="currAlbumSongs in mynotifications.data.albumInfo.songs track by $index">{{currAlbumSongs.title}}
                                       &nbsp;
                                       <i  class="fa fa-play-circle fa-1x" aria-hidden="true"  
                                          title="Play Track"
                                          ng-click="playVideoTwo(currAlbumSongs,mynotifications.data.albumInfo)"></i>
                                    </li>
                                 </ul>
                              </div>
                              <div class="divider-10"></div>
                              <div   ng-click=" getUserData(mynotifications.createdBy,$index); showUserDetails[$index]=!showUserDetails[$index]" class="item-title">
                                 <div ng-if="mynotifications.createdBy != myCurrentUser._id" >
                                    Album Created By: &nbsp;&nbsp;
                                    {{
                                    JBSGetUserName(myUsersListTwo.users,'_id', 
                                    mynotifications.createdBy)
                                    }}&nbsp;&nbsp; more
                                 </div>
                              </div>
                              <div  class="item-title" ng-show="showUserDetails[$index]" >
                                 <div ng-if="spud[$index].albumsMBM.length>0"  class="slick-container" id="slick-container"  >
                                    <slick id="sliderspud" autoplay="false"  fade="true" 
                                       init-onload="true" data="getspud">
                                       <div class="slick-item" ng-repeat="album in spud[$index].albumsMBM " >
                                          <div class="thumbnailSpecial right-caption span4">
                                             <img class="thumbnail" data-lazy="/img/elothumb.jpg">
                                             <div class="item-title" >
                                                <!---->
                                                <div class="item-title" >
                                                   <ul class="ul-custom">
                                                      <div class="item-title-custom" >
                                                         {{album.listname}}
                                                      </div>
                                                      <div ng-if="JBSfindIfExists(receivedSongLists,'auid',album.auid) === false ">
                                                         <h5 ng-click="sendAlbum($index,album ,'rbmfn')">Collect Album</h5>
                                                      </div>
                                                      <div ng-if="JBSfindIfExists(receivedSongLists,'auid',album.auid) === true">
                                                         <h5></h5>
                                                      </div>
                                                      <div class="divider-10"></div>
                                                      <li  ng-repeat="tracks in album.songs track by $index">
                                                         {{tracks.title}}
                                                         <div class="divider-10"></div>
                                                      </li>
                                                      <div class="divider-10"></div>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </slick>
                                 </div>
                              </div>
                              <div class="divider-10"></div>
                              <div ng-if=" JBSGetUserName(myUsersListTwo.users,'_id', 
                                 mynotifications.createdBy) !=   JBSGetUserName(myUsersListTwo.users,'_id', 
                                 mynotifications.sentBy) " class="item-title" ng-if="mynotifications.sentBy">
                                 Album Sent By: &nbsp;&nbsp;
                                 {{
                                 JBSGetUserName(myUsersListTwo.users,'_id', 
                                 mynotifications.sentBy)
                                 }} 
                              </div>
                              <button id="removeNotRecBtnLink" class="btn btn-link nounderline" ng-click="removeNotificationServer($index,mynotifications,mynotificationsRecSongs.message)">Remove</button>
                              </p>		
                           </div>
                        </div>
                     </div>
                     <div class="notification-footer">
                        <h4 class="menu-title"><i class=""></i></h4>
                     </div>
                  </ul>
               </div>
            </div>
         </div>
         <h1>Butterfly Catcher</h1>
      </div>
      <div class="header-right">
         <label for="open">
         <span class="hidden-desktop"></span>
         </label>
         <input type="checkbox" name="" id="open">
         <nav>
            <a>
            </a>
            <a id="myCollect" name="collect"ng-click="showAlbums=4; SelectedCombination(4);">Collect </a>
            <a  ng-click="showAlbums=1; SelectedCombination(1); " 
               >My Collections</a>
            <a ng-click="showAlbums = 2; SelectedCombination(2);"> Collections Sent To Me</a>
            <a ng-click="showAlbums = 3; SelectedCombination(3);">Other Peoples Collections</a>
            <a ng-click="signOut()">Log Out</a>
         </nav>
      </div>
   </div>
</header>
<section  class="clearfix">
   <div class="container">
      <div  class="section-left">
         <h1 class="section-title">Collect Video Music and Media</h1>
         <h3 class="section-tagline">
         Find Collect Explore  Create Share </h5>
      </div>
      <div class="section-right">
      </div>
   </div>
</section>
<div class="container">
</div>
<div>
<div  class="main-content" ng-show="showDetailsCU" style="background-color:lightgray;">
   <!-- You only need this form and the form-register.css -->
   <form name="register.myForm" class="form-register" >
      <div class="form-register-with-email">
         <div class="form-white-background">
            <div class="form-title-row">
               <h1>Create an account</h1>
            </div>
            <div class="form-row">
               <label>
               <span>Email</span>
               <input  type="email" id="newUserEmail" 
                  name="userRegEmail"
                  placeholder="Enter your email"
                  data-ng-model="newUser.userRegEmail"
                  required
                  emailspecial
                  ui-validate="{blacklist: 'BlackListedUsers($value)'}"
                  >
               </label>
            </div>
            <div class="form-row">
               <label>
               <span>Password</span>
               <input type="text" id="newUserPassword" 
                  name="userRegPassword"
                  placeholder="Enter your password"
                  data-ng-model="newUser.userRegPassword"
                  required 
                  >
               </label>
            </div>
            <div>
            </div>
            <!--
               <div class="form-row">
                   <label class="form-checkbox">
                       <input type="checkbox" name="checkbox" checked>
                       <span>I agree to the <a href="#">terms and conditions</a></span>
                   </label>
               </div>
               -->
            <div>
               <span ng-if="register.myForm.userRegEmail" class="invalid" ng-show='register.myForm.userRegEmail.$error.blacklist'>Sorry, That Email Is Already Taken</span>
               <span  class="invalid" ng-show="register.myForm.userRegEmail.$touched && register.myForm.userRegEmail.$error.required"
                  >Email Is Required!</span>
               <span  class="invalid" ng-show=" register.myForm.userRegEmail.$touched && register.myForm.userRegEmail.$error.email">
               Not valid email!</span>
               <span  class="invalid" ng-show="register.myForm.userRegPassword.$touched && register.myForm.userRegPassword.$error.required">
               Password Is Required!</span>
            </div>
            <div class="row spacer">
               <div class="span4">
               </div>
            </div>
            <div class="row spacer">
               <div class="span4">
               </div>
            </div>
            <div class="form-row">
               <button ng-disabled="register.myForm.$invalid || register.myForm.userRegEmail.$error.blacklist ||  form.$pending" ng-click="createUser()">Register</button>
            </div>
            <div>	
               <span class="btn btn-link form-log-in-with-existing" ng-click="showLoginForm()">Already have an account? Login here &rarr;</button>
            </div>
         </div>
      </div>
      <div class="form-sign-in-with-social">
         <div class="form-row form-title-row">
            <span class="form-title">Sign in with</span>
         </div>
         <a href="#" class="form-google-button">Google</a>
         <a href="#" class="form-facebook-button">Facebook</a>
         <a href="#" class="form-twitter-button">Twitter</a>
      </div>
   </form>
</div>
<div class="container-fluid"  ng-if="!loginSuccess" style="background-color:lightgray;"  >
   <div class="divider-10"></div>
   <div class="divider-10"></div>
   <div class="main-content" ng-show="showDetailsLU" >
      <form name="form1" class="form-login">
         <div class="span1 ">
         </div>
         <div class="form-log-in-with-email">
            <div class="form-white-background">
               <div  class="row">
                  <div>
                     <div class="form-title-row">
                        <div class="container-fluid " >
                           <div style="text-align: left">
                              <img src="/img/butterflycolect2.jpg" width="100" height="100" />
                           </div>
                           <span classs="bounceInLeft" ng-if="myCurrentUserUname" id="form-img" >
                              <ng-avatar initials="AS" string="{{myCurrentUserUname.toUpperCase()}}" bg-color="#325182" text-color="#FFF" picture-resolution="256" width="99" height="99"  pixelated="false" class="adres-css animated bounceInRight" style="border:4px #0e385f" ></ng-avatar>
                           </span>
                           <span ng-if="!myCurrentUserUname" id="form-img">
                           </span>
                        </div>
                        <div  id="mailbox">
                           <div class="form-row">
                              <input ng-if="!myCurrentUserUname"class="form-control" placeholder="Enter your email" type="text" name="email" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" 
                                 required ng-model="formLogin.email" 
                                 ui-validate="{blacklist: 'notBlackListedUsers($value)'}"
                                 ui-validate-async="{alreadyExists: 'doesNotExistUsers($modelValue)'}"/>
                              <input ng-if="myCurrentUserUname"
                                 class="form-control" placeholder="Enter your password" type="text" name="password" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" 
                                 required ng-model="formLogin.password"
                                 />
                           </div>
                           <div >	
                              <span ng-if="formLogin.email" class="invalid" ng-show='form1.email.$error.blacklist'>Sorry, MusicBox doesn't recognize that email</span>
                              <span ng-if="serverLoginMsg" class="invalid" >Sorry, MusicBox doesn't recognize that password
                              </span>
                           </div>
                           <div class="form-row" >
                              <input ng-if="!myCurrentUserUname" type="submit" id="button2" value="Next" ng-click="logIn(false,myCurrentUserUname)" ng-disabled="form1.$invalid ||  form1.$pending"  />
                              <input ng-if="myCurrentUserUname" type="submit" id="button2" value="Next" ng-click="logIn(true,myCurrentUserUname)"   />
                           </div>
                           <!--showDetailsCU=!showDetailsCU-->
                           <div class="btn btn-link form-log-in-with-existing" id="info3">
                              <span  ng-click="showCreateUserForm()"> Create an account here &rarr;</span>
                           </div>
                           <div id="info4">
                           </div>
                        </div>
                        <div id="spinner"></div>
      </form>
      </div> 
      <div class="span1">
      </div>
      </div> 
      </div>  
      </div>
      </div>	
      <!-- 
         modal entry form to create new user 
         -->			
      <div class="container-fluid">
         <script type="text/ng-template" id="myModalContent.html">
            <div class="">
                <h3>I'm a modal!</h3>
            </div>
            <form ng-submit="submit()">
              <div class="modal-body">
                <label>User name</label>
                <input type="text" ng-model="user.user" />
                <label>Password</label>
                <input type="password" ng-model="user.password" />
                <label>Add some notes</label>
                <textarea rows="4" cols="50" ng-model="user.notes">
            
            </textarea>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  <input type="submit" class="btn primary-btn" value="Submit" />
              </div>
            </form>
         </script>
         <div ng-show="selected">Selection from a modal: {{ selected }}</div>
      </div>
   </div>
</div>
<div  class="container-fluid">
   <div ng-show="loginSuccess" class="row">
   </div>
</div>
<div  class="row-fluid">
</div>
<div ng-if="loginSuccess" class="col-xs-12 col-sm-12" style="background-color:lightcyan;">
<div class="panel panel-default" id="panel1">
<div class="panel-heading">
<h4 class="panel-title">
   <div class="row-fluid" >
      <!-- album navigation -->			
</h4>
</div>
<!--submit add album form -->
<!-- collect albums search for media -->  
<!-- ng-showAlbumsSearch-->
<div ng-show="showAlbums==4" >
   <div>
      <h1>Search and Collect</h1>
   </div>
   <!-- Search Area -->
   <div   class="container-fluid">
      <div  class="row-fluid">
         <form id="search">
            <div class="form-group">
               <div id="custom-search-input">
                  <div class="input-group col-xs-14 col-sm-14">
                     <input type="text" class="  search-query form-control" placeholder="Search and Collect"  id="query" name="q" data-ng-model="formSearch.query"/>
                     <span class="input-group-btn">
                     <button class="btn btn-danger" type="button" id="submit" ng-click="search()">
                     <span class=" glyphicon glyphicon-search"></span>
                     </button>
                     </span>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div  class="container-fluid ng-cloak">
      <div  ng-repeat="item in mediaResultsTwo .slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) " class="img">
         <a >
         <img ng-if="mediaResultsTwo.length>0" class="thumbnail" ng-src="{{item.thumbnail}}" alt="Fjords" width="300" height="200">
         </a>
         <div class="desc">
            <p data-placement="top" title="{{item.title}}"class='album-name'>{{item.title}}</p>
            <div class="divider-10"></div>
            <div class="row-fluid">
               <div class="col-xs-2 col-sm-2 ">
                  <i  class="fa fa-youtube-play fa-2x" aria-hidden="true" aria-hidden="true" ng-click="playVideoTwo(item,{})"></i>
               </div>
            </div>
            <div class="col-xs-14 col-sm-14">
               <div  ng-dropdown-multiselect="" 
                  events="yourEvents[JBSfindIndexByKeyValue(mediaResultsTwo,'videoid',item.videoid)];"
                  options="songListDropDownData[JBSfindIndexByKeyValue(mediaResultsTwo,'videoid',item.videoid)]" 
                  selected-model="songListDropDownModel[JBSfindIndexByKeyValue(mediaResultsTwo,'videoid',item.videoid)]" 
                  extra-settings="songListDropDownSettings[JBSfindIndexByKeyValue(mediaResultsTwo,'videoid',item.videoid)] 
                  ">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div   class="container-fluid ng-cloak">
      <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
      <pre>The selected page no: {{currentPage}}</pre>
   </div>
   <!-- Search Area -->
   <div class="row spacer">
      <div class="span4">
      </div>
   </div>
   <!-- bottom bootstrap grid space -->
   <div class="container-fluid">
   
   <!--
      <div class="row">
      </div>
      <div class="row">
         <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
            Column 5<br>
            Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
         </div>
         <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">Column 6
         </div>
         <div class="clearfix visible-xs"></div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 7</div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 8</div>
      </div>
      <div class="row">
         <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
            Column 9<br>
            Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
         </div>
         <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">Column 10</div>
         <div class="clearfix visible-xs"></div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 11</div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 12</div>
         <div class="container-fluid">
         </div>
      </div>
      -->
   
   </div>
   <br>
   <br>
   <!-- bottom bootstrap grid space -->
</div>
<!-- collect albums search for media -->  
<!-- ng-showAlbumsALL -->
<div class="ng-cloak"     ng-show="showAlbums==3" >
   <!--ng-show="showAlbumsMBP"-->
   <!-- Album Horizontal Display -->
   <div >
      <h1 class='album-name'>Other Peoples Collections</h1>
   </div>
   <!--loop thru albums mbp -->
   <div  ng-repeat="myallsonglists in 
      allSongLists track by $index" class="img"  style="width: 200px">
      <img  src="img/intheaeroplane.png" alt="Trolltunga Norway" width="300" height="200">
      <div class="desc">
         <p ng-click="showAlbumDetails=!showAlbumDetails" class='album-name'>{{myallsonglists.listname}}
            &nbsp;&nbsp;<i class="fa fa-plus-square fa-1x" aria-hidden="true" title="Album Contents"></i>
         </p>
         <p>By:
            {{JBSGetUserName(myUsersListTwo.users,'_id', 	myallsonglists.createdBy)}}
         </p>
         <p>
            Votes: {{JBSIsInArray(myCurrentUser._id,myallsonglists.createdBy,myallsonglists.auid,myUsersListTwo.users).currVotes}}
         </p>
         <p>
         </p>
         <div class="divider-10"></div>
         <div class="row-fluid">
            <div class="col-xs-2 col-sm-2 ">
               <i  class="fa fa-play-circle fa-2x" aria-hidden="true" aria-hidden="true"title="Play Album"  ng-click="playVideoAlbum(myallsonglists.songs,myallsonglists)"></i>
            </div>
            <div class="col-xs-2 col-sm-2 ">
               <i class="fa fa-plus-square fa-2x" ng-if="myallsonglists.createdBy!=myCurrentUser._id && JBSfindIfExists(receivedSongLists,'listname',myallsonglists.listname)=== false" ng-click="sendAlbum($index,myallsonglists,'mbp')" ></i>
            </div>
         </div>
         <div class="col-xs-14 col-sm-14">
         </div>
         <div class="col-xs-12 col-sm-12">
         </div>
      </div>
      <div class="divider-10"></div>
      <div ng-show="showAlbumDetails" class="desc">
         <div class="row-fluid">
            <div ng-repeat="mysongs in myallsonglists.songs track by $index" class="col-xs-16 col-sm-16" style="background-color:lavender;">
               <div class="divider-10"></div>
               <div class="row-fluid">
                  <img class="thumbnail" ng-click="playVideoTwo(mysongs,myallsonglists)" ng-src='{{mysongs.thumbnail}}'>
               </div>
               <div class="row-fluid">
                  <h6 ng-click="playVideoTwo(mysongs,myallsonglists)">{{mysongs.title}}</h6>
                  <div class="divider-10"></div>
                  <div class="col-xs-2 col-sm-2 ">
                     <i  class="fa fa-play fa-1x" aria-hidden="true" title="Play Track" ng-click="playVideoTwo(mysongs,myallsonglists)"></i>
                  </div>
                  <div class="col-xs-2 col-sm-2 ">
                     <i  class="fa fa-music fa-1x" aria-hidden="true"  title="Request Concert" ng-click="playVideoTwo(mysongs,myallsonglists)"></i>
                  </div>
               </div>
               <div class="divider-10"></div>
               <div class="divider-10"></div>
               <div style="background-color:white; ">
                  <div class="divider-10"></div>
               </div>
               <!--loop data -->	
            </div>
         </div>
      </div>
   </div>
   <!--loop thru albums rbm -->
   <!-- bottom bootstrap grid space -->
   <div class="container-fluid">
   
      <!--
      <div class="row">
      </div>
      <div class="row">
         <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
            Column 5<br>
            Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
         </div>
         <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">Column 6
         </div>
         <div class="clearfix visible-xs"></div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 7</div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 8</div>
      </div>
      <div class="row">
         <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
            Column 9<br>
            Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
         </div>
         <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">Column 10</div>
         <div class="clearfix visible-xs"></div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 11</div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 12</div>
         <div class="container-fluid">
         </div>
      </div>
	  -->
	  
   </div>
   <br>
   <br>
   <!-- bottom bootstrap grid space -->
</div>
<!-- ng-showAlbumsALL --> 
<!--ng-show="showAlbumsRBM"-->	  
<div  class="ng-cloak"   ng-show="showAlbums==2" >
   <!--ng-show="showAlbumsRBM"-->
   <!--ng-show="showAlbumsRBM"-->
   <!-- Album Horizontal Display -->
   <div>
      <h1 class='album-name' >Collections Sent To Me</h1>
   </div>
   <!--loop thru albums rbm -->
   <div ng-repeat="myreceivedsonglists in 
      receivedSongLists track by $index" class="img" style="width: 200px" >
      <img  src="img/yoshimibattlesthepinkrobots.png" alt="Trolltunga Norway" width="300" height="200">
      <div class="desc">
         <p ng-click="showAlbumDetails=!showAlbumDetails"class='album-name'>{{myreceivedsonglists.listname}}
            &nbsp;&nbsp;<i class="fa fa-plus-square fa-1x" aria-hidden="true " title="Album Contents"></i>
         </p>
         <p>By:
            {{JBSGetUserName(myUsersListTwo.users,'_id', 	myreceivedsonglists.createdBy)}}
         </p>
         <p ng-if="myreceivedsonglists">
            Votes: {{JBSIsInArray(myCurrentUser._id,myreceivedsonglists.createdBy,myreceivedsonglists.auid,myUsersListTwo.users).currVotes}}
         </p>
         <div class="row-fluid">
            <div class="divider-10"></div>
            <div class="divider-10"></div>
            <div class="col-xs-2 col-sm-2 center">
               <i  class="fa fa-trash-o fa-2x" aria-hidden="true" aria-hidden="true" title="Delete Album"  ng-click="removeAlbumRBM($index,myreceivedsonglists)"></i>
            </div>
            <div class="col-xs-2 col-sm-2 ">
               <i  class="fa fa-play-circle fa-2x" aria-hidden="true" aria-hidden="true" 
                  title="Play Album"
                  ng-click="playVideoAlbum(myreceivedsonglists.songs,myreceivedsonglists)"></i>
            </div>
            <div ng-if="JBSIsInArray(myCurrentUser._id,myreceivedsonglists.createdBy,myreceivedsonglists.auid,myUsersListTwo.users).votedFor"  >
               <div class="col-xs-2 col-sm-2 ">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" 
                     title="Vote For Album"
                     ng-click="likeClickTwo(myreceivedsonglists,$index)"></i>
               </div>
            </div>
         </div>
         <div class="divider-10"></div>
         <div class="col-xs-14 col-sm-14">
            <div  ng-if='sl2Updated'         ng-dropdown-multiselect="" 
               events="yourUsersListEventsRBM[$index]"
               options="usersListDropDownDataRBM[$index]" 
               selected-model="usersListDropDownModelRBM[$index]" 
               translation-texts="usersListCustomTextsRBM[$index]"
               extra-settings="usersListDropDownSettingsRBM[$index] 
               ">
            </div>
            <div class="col-xs-12 col-sm-12">
               <button  ng-click="sendAlbum($index,myreceivedsonglists,'rbm')" class="btn btn-link nounderline" ng-disabled="usersListDropDownModelRBM[$index].length==0">Send Album</button>
            </div>
         </div>
      </div>
      <div class="divider-10"></div>
      <div ng-show="showAlbumDetails" class="desc">
         <div class="row-fluid">
            <div ng-repeat="mysongs in myreceivedsonglists.songs track by $index" class="col-xs-16 col-sm-16" style="background-color:lavender;">
               <div class="divider-10"></div>
               <div class="row-fluid">
                  <img class="thumbnail" ng-click="playVideoTwo(mysongs,myreceivedsonglists)" ng-src='{{mysongs.thumbnail}}'>
               </div>
               <div class="row-fluid">
                  <h6 ng-click="playVideoTwo(mysongs,mysonglists)">{{mysongs.title}}</h6>
                  <div class="divider-10"></div>
                  <div class="col-xs-2 col-sm-2 ">
                     <i  class="fa fa-play fa-1x" aria-hidden="true"  
                        title="Play Track"
                        ng-click="playVideoTwo(mysongs,myreceivedsonglists)"></i>
                  </div>
                  <div class="col-xs-2 col-sm-2 ">
                     <i  class="fa fa-music fa-1x" aria-hidden="true"  
                        title="Request Concert"
                        ng-click="playVideoTwo(mysongs,myreceivedsonglists)"></i>
                     <br/>
                     <br/>
                  </div>
                  <div class="divider-10"></div>
                  <div class="divider-10"></div>
               </div>
               <div style="background-color:white; ">
                  <div class="divider-10"></div>
               </div>
               <!--loop data -->	
            </div>
         </div>
      </div>
   </div>
   <!--loop thru albums rbm -->
   <!-- bottom bootstrap grid space -->
   <div class="container-fluid">
      <!--
      <div class="row">
      </div>
      <div class="row">
         <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
            Column 5<br>
            Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
         </div>
         <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">Column 6
         </div>
         <div class="clearfix visible-xs"></div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 7</div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 8</div>
      </div>
      <div class="row">
         <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
            Column 9<br>
            Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
         </div>
         <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">Column 10</div>
         <div class="clearfix visible-xs"></div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">Column 11</div>
         <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">Column 12</div>
         <div class="container-fluid">
         </div>
      </div>
	  -->
   </div>
   <br>
   <br>
   <!-- bottom bootstrap grid space -->
</div>
<!--ng-show="showAlbumsRBM"-->	
<!--submit add album form -->
<!--ng-show="showAlbumsMBM"-->	
<div class="ng-cloak"   ng-show="showAlbums==1" >
<!--ng-show="showAlbumsMBM"-->
<!--ng-show="showAlbumsMBM"-->
<div>
   <h1 class='album-name' >My Collections</h1>
</div>
<div class="container-fluid">
   <button class="btn btn-link" ng-click="showDetailsFour=!showDetailsFour" ng-class="{'btn-info':showDetailsFour==true}">
   Create A Collection
   </button>
</div>
<!--create a collection form area-->
<div ng-show="showDetailsFour" id="collapseOne" class="panel-collapse collapse in">
   <div class="panel-body">
      <div>
         <form name="form" >
            <div class="container-fluid"> 
               <input class="form-control" name="email" placeholder="enter your collection name" type="text"  required ng-model="formInfo.albumName" 
                  ui-validate="{blacklist: 'notBlackListed($value)'}"
                  ui-validate-async="{alreadyExists: 'doesNotExist($modelValue)'}">
               <span class="invalid" ng-show='form.email.$error.blacklist'>Please Choose Another Album Name This One Is Already Taken</span>
               <br/>
            </div>
            <div class="row spacer">
               <div class="span4"></div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
               <button  type="submit" ng-click="addAlbum(); showDetailsFour=!showDetailsFour" class="btn btn-info" ng-disabled="form.$invalid || form.$pending">Add Collection</button>
            </div>
         </form>
      </div>
   </div>
</div>
<!--create a collection form area-->
<!-- Album Horizontal Display -->
<!-- another loop-->
<div ng-repeat="mysonglists in songListsTwo track by $index" class="imgTwo"  >
   <img  src="img/originofsymmetry.png" alt="Trolltunga Norway" width="200px" height="200"/>
   <!-- -->
   <div  class="desc">
      <p ng-click="showAlbumDetails=!showAlbumDetails"class='album-name'>{{mysonglists.listname}}</p>
      <p>
         Votes: {{JBSIsInArray(myCurrentUser._id,mysonglists.createdBy,mysonglists.auid,myUsersListTwo.users).currVotes}}
      </p>
      <div class="divider-10"></div>
      <div class="ng-cloak" ng-if="mysonglists.songs.length>0">
         <!---->	
         <slick   class="container fluid center "
            ng-if="albumcollectionchange" 
            init-onload="false" data="albumcollectionchange" 
            dots="true" >
            <div  ng-repeat="tracks in mysonglists.songs track by $index ">
               <div  class="thumbnailTwo right-caption span4 ">
                  <div >
                     <img class="thumbnailSpecialSlider img-fluid thumbnail" data-placement="center" title={{tracks.title}}  ng-src="{{tracks.thumbnail}}" alt="{{tracks.title}}" /> 
                  </div>
                  <div class="divider-10"></div>
                  <div class="row-fluid">
                     <div class="col-xs-2 col-sm-2 "  style="width: 23%; float:left; margin: 1%;">
                        <i  class="fa fa-youtube-play fa-2x" aria-hidden="true" aria-hidden="true"
                           title="Play Track"	
                           ng-click="playVideoTwo(tracks,mysonglists)"></i>
                     </div>
                     <div class="col-xs-2 col-sm-2" style="width: 23%; float:left; margin: 1%;">
                        <i  class="fa fa-trash fa-2x" aria-hidden="true" aria-hidden="true"
                           title="Delete Track"
                           ng-click="removeFromSongListOne($parent.$index,item,mysonglists,tracks,$index)"></i>
                     </div>
                  </div>
               </div>
            </div>
         </slick>
      </div>
      <div ng-if="mysonglists.songs.length<=0">
         <div  class="thumbnailTwo right-caption span4">
            <img ng-click="showTriggerElementCollect();"  class="span2 " src="/img/butterflycolect2.jpg" alt=""
               >
            <div class="container-fluid">
            </div>
         </div>
      </div>
      <div class="divider-10"></div>
      <div class="divider-10"></div>
     	
      <div class="row-fluid">
         <div class="col-xs-2 col-sm-2 center">
            <i  class="fa fa-trash-o fa-2x" aria-hidden="true" aria-hidden="true"
               title="Delete Album"
               ng-click="removeAlbum($index,mysonglists)"></i>
         </div>
         <div class="col-xs-2 col-sm-2 ">
            <i  class="fa fa-play-circle fa-2x" aria-hidden="true" aria-hidden="true"
               title="Play Album"	
               ng-click="playVideoAlbum(mysonglists.songs,mysonglists)"></i>
         </div>
         <div ng-if="mysonglists.status=='private'">
            <div class="col-xs-2 col-sm-2 ">
               <i  class="fa fa-share fa-2x" aria-hidden="true" aria-hidden="true" 
                  title="Share Album"
                  ng-click="addAlbumAA($index,mysonglists)"></i>
            </div>
         </div>
      </div>
      <div class="divider-10"></div>
      <div class="col-xs-14 col-sm-14">
         <div  ng-if='sl2Updated'         ng-dropdown-multiselect="" 
            events="yourUsersListEvents[$index]"
            options="usersListDropDownData[$index]" 
            selected-model="usersListDropDownModel[$index]" 
            translation-texts="usersListCustomTexts[$index]"
            extra-settings="usersListDropDownSettings[$index] 
            ">
         </div>
         <div class="col-xs-12 col-sm-12">
            <button  ng-click="sendAlbum($index,mysonglists,'mbm')" class="btn btn-link nounderline" ng-disabled="usersListDropDownModel[$index].length==0">Send Album</button>
         </div>
      </div>
   </div>
   <div class="divider-10"></div>
   
</div>
<!-- another loop-->
<!--loop thru albums mbm -->
<!--loop thru album mbm -->
<!-- Album Horizontal Display -->
<div class="container-fluid" >
<div style="background-color:lightgray;"></div>
<!--
   <div class="row">
   </div>
   <div class="row">
      <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
         Butterfly Catcher
      </div>
      <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">
      </div>
      
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;"></div>
      <div class="col-xs-6 col-sm-3" style="background-color:lightgray;"></div>
   </div>
   <div class="row">
      <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
         <br>
         
      </div>
      <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;"></div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;"></div>
      <div class="col-xs-6 col-sm-3" style="background-color:lightgray;"></div>
      <div class="container-fluid">
      </div>
   </div>
   
 -->  
   
   
</div>